.body { 
  font-family: 'Roboto', sans-serif;
}

.slick-prev:before {
  color: purple;
}

.slick-next:before {
  color: purple;
}

.slick-slide {
  outline: none
}

.slick-slide {
  margin: 0 10px;
  padding: 5px;
}

.slick-list {
  margin: 0 -10px
}

.carousel {
  height: 450px;
}

.product-slide:hover {
  padding-top: auto;
  padding-bottom: auto;
  box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.14);
}

pre {
  outline: 1px solid #ccc; 
  padding: 5px; 
  margin: 5px; 
}

.string { 
  color: green; 
}

.number { 
  color: darkorange; 
}

.boolean { 
  color: blue; 
}

.null { 
  color: magenta; 
}

.key { 
  color: red; 
}

.json-file {
  height: 800px;
  background-color: #f9f9f8;
}
