<div class="fbt-controls">
  <% 
  if (fbtControls.skip === true) {
  %>
    <div class="fbt-skip fbt-button px-2">
      Trocar 
      <span class="octicon octicon-sync ml-1"></span> 
    </div>
  <% 
  }
  %>
  <% 
  if (fbtControls.remove === true) {
  %>
    <div class="fbt-remove fbt-button px-2">
      Remover 
      <span class="octicon octicon-x ml-1"></span> 
    </div>
  <% 
  }
  %>
  
</div>
