$linx-color: #682c69;

.body { 
  font-family: 'Roboto', sans-serif;
}

.linx-text {
  color: $linx-color;
}

#container-demo {
  opacity: 0;
}

#container-demo .container {
  clear: both;
}

.container-widget {
  display: flex;  
  justify-content: space-between;
}

button:focus {
  outline: none;
}

.reference-card, .owl-carousel {
  height: 20em;
}

.abled {
  opacity: 1;
  transition: all 0.8s ease;
}

.disabled {
  opacity: 0.25;
  transition: opacity 0.8s ease;
}

.disabled:hover {
  text-decoration: none;
  cursor: default;
}

.btn-refresh {
  top: 1em;
  right: 0.5em;
  width: 1.7em;
  height: 1.7em;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: #444;
  z-index: 1;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.btn-refresh:hover {
  background: $linx-color;
  color: #FFF;
}

// Adjusting arrows to sides.
.owl-prev, .owl-next  {
  position: absolute;
  top: 43%;
  display: block !important;
}

//modifying default CSS from owl
.owl-theme .owl-nav [class*='owl-'] {
  margin: 0.2em;
  padding: 0.5em;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  width: 1.8em;
  height: 1.8em;
  text-decoration: none; 
  transition: all 0.5s ease;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: $linx-color;
  color: #FFF;
  
}

.owl-prev {
  left: 0.5em;
}

.owl-next {
  right: 0.5em;
}

.owl-carousel .owl-stage {
  display: flex;
}

// Card
.owl-carousel .owl-item img {
  width: auto;
}

.img-wrapper img {
  max-height: 12em;
  width: auto;
  margin: auto;
  display: block;
}

.img-smaller img {
  max-height: 4em;
  width: auto;
  margin: auto;
  display: block;
}

.content {
  height: 3em;
  overflow: hidden;
  margin: 0.5em;
  box-sizing: content-box;
}

.price {
  height: 1em;
  margin: 0.5em;
  box-sizing: content-box;
}

.card-fbt, .fbt-summary {
  width: 20%;
  position: relative;
}

.fbt-summary {
  align-self: center;
  text-align: center;
}

.operator-fbt {
  align-self: center;
  text-align: center;
  width: 6.66%;
  font-size: 2em;
  color: $linx-color;
}

.fbt-controls {
  height: 2em;
  line-height: 2em;
  margin: 0.7em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fbt-button {
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.fbt-button:hover {
  background: $linx-color;
  color: #FFF;
}

// vertical carousel
.slick-vertical {
  overflow: hidden;
  position: relative;
}

.slick-slide {
  margin: 5px 0;
}

.slick-list {
  margin: -5px 0;
}

.slick-arrow {
  position: absolute;
  right: 0.5em;
  z-index: 1;
  background-color:transparent;
  border-radius: 4px;
  border: none;
  width: 1.8em;
  height: 1.5em;
  text-align: center;
  cursor: pointer;
  color: #444;
  transition: all 0.5s ease;
}

.slick-arrow:hover {
  background: $linx-color;
  color: #FFF;
}

.slick-next {
  bottom: 0.2em;
}

.slick-prev {
  top: 0.2em;
}

.references-card:hover {
  cursor: pointer;
}

// Push classes

.menu-labels {
  font-size: 1.3em;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 3px 0px;
}

.menu-labels:hover {
  cursor: pointer;
  border-color: $linx-color;
  transition: border-color 0.7s ease;
}

.menu-highlight {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: $linx-color;
  transition: border-color 0.7s ease;
}

// Loader carousel animation
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid $linx-color; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-top: 5.6em; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Autoplay-toggle
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.6);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $linx-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $linx-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Json
.string { 
  color: #008000; 
}

.number { 
  color: #ff8c00; 
}

.boolean { 
  color: #0000ff; 
}

.null { 
  color: #ff00ff; 
}

.key { 
  color: #ff0000; 
}

.json-file {
  height: 800px;
  background-color: #f9f9f8;
  outline: 1px solid #ccc; 
  padding: 5px; 
  margin: 5px; 
}
