@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/pulse/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css");

$linx-color: #682c69;

.body { 
  font-family: 'Roboto', sans-serif;
}

.linx-text {
  color: $linx-color;
}

.container-widget {
  max-height: 25em;
}

//modifying default CSS from owl
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  width: 1.5em;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: $linx-color;
  color: #FFF;
  text-decoration: none; 
}

// Adjusting arrows to sides.
.owl-prev {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 43%;
  left: 0.5em;
  display: block !important;
}

.owl-next {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 43%;
  right: 0.5em;
  display: block !important;
}

.btn-refresh {
  top: 1em;
  right: 1em;
  width: 1.7em;
  height: 1.7em;
}

// Card
.owl-carousel .owl-item img {
  width: auto;
}

.img-wrapper img {
  max-height: 13em;
  width: auto;
  margin: auto;
  display: block;
}

.content {
  height: 3em;
  overflow: hidden;
  margin: 0.5em;
  box-sizing: content-box;
}

.price {
  height: 1em;
  margin: 0.5em;
  box-sizing: content-box;
}

// Json
.string { 
  color: #008000; 
}

.number { 
  color: #ff8c00; 
}

.boolean { 
  color: #0000ff; 
}

.null { 
  color: #ff00ff; 
}

.key { 
  color: #ff0000; 
}

.json-file {
  height: 800px;
  background-color: #f9f9f8;
  outline: 1px solid #ccc; 
  padding: 5px; 
  margin: 5px; 
}
