<div class="container mt-4">
  <div class="jumbotron mb-5 p-3 font-weight-bold">
    <h1 class="text-center mb-3">Try onsite-demo</h1>
    <hr class="my-4">
    <form class="form-horizontal" method="post">
    <div class="row justify-content-md-center">
      <div class="form-group required">
      <label for="apiKey" class="control-label col-md-4  requiredField">
         ApiKey<a class="text-danger">*</a>
      </label>
      <div class="controls col-lg-12 ">
        <input class="input-md  textinput form-control" id="apiKey" maxlength="60" type="text" />
      </div>
      </div>
      <div class="form-group required">
      <label for="secretKey" class="control-label col-md-4  requiredField">
         SecretKey<a class="text-danger">*</a>
      </label>
      <div class="controls col-lg-12 ">
        <input class="input-md  textinput form-control" id="secretKey" maxlength="60" type="text" />
      </div>
      </div>
      <div class="form-group required">
      <label for="name" class="control-label col-md-4  requiredField">
         Name<a class="text-danger">*</a>
      </label>
      <div class="controls col-lg-12 ">
        <input class="input-md  textinput form-control" id="name" maxlength="60" type="text" />
      </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group required">
      <label for="source" class="control-label col-md-4  requiredField">
         Source<a class="text-danger">*</a>
      </label>
      <div class="controls col-lg-12 ">
        <input class="input-md  textinput form-control" id="source" maxlength="60" type="text" />
      </div>
      </div>
      <div class="form-group required">
      <label for="deviceId" class="control-label col-md-4  requiredField">
         DeviceId<a class="text-danger">*</a>
      </label>
      <div class="controls col-lg-12 ">
        <input class="input-md  textinput form-control" id="deviceId" maxlength="60" type="text" />
      </div>
      </div>
    </div>
    <div class="row justify-content-md-center mt-2">
      <div class="col-md-auto">
        <button id="try_btn" type="button" class="btn btn-primary">Try it</button>
      </div>
    </div>
    </form>
  </div>
</div>
